html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  text-align: center;
  color: rgb(172, 5, 5);
  font-size: 20px;
}

h1 {
  margin: 0;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 1px #666;
}

@media (max-width: 650px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 1.25rem;
}

p {
  margin: 0 0 15px 0;
  color: white;
  text-shadow: 1px 1px 1px #666;
}

@media (max-width: 650px) {
  p {
    margin: 0;
  }
}

.main-container {
  width: 100%;
  background: #bd4242;
  padding: 15px;
}

@media (max-width: 650px) {
  .main-container {
    padding: 10px;
  }
}

#main {
  padding: 1% 5%;
  background: rgb(226, 190, 176);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: rgb(226, 190, 176);
  padding: 5px;
  margin: 0px;
}

#img-caption {
  margin: 15px 0 5px 0;
}

#headline {
  margin: 50px 0;
  padding: 10px;
  color: white;
  background: #bd4242;
  text-align: center;
  border-radius: 20px;
  text-shadow: 1px 1px 1px #666;
  box-shadow: 2px 2px 5px #666;
}

@media (max-width: 650px) {
  #headline {
    margin: 25px;
  }
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 30px 0;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: center;
}

#NeilYoung {
  background-color: rgb(226, 190, 196);
  border-radius: 25px;
}

a {
  color: #7147a7;
  text-decoration: none;
  transition: color ease-out 200ms;
}

a:hover {
  color: rgb(23, 223, 106);
}
