/* playfair-display-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/playfair-display-v36-latin-regular.woff2')
    format('woff2');
}
/* playfair-display-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/playfair-display-v36-latin-italic.woff2')
    format('woff2');
}
/* playfair-display-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/playfair-display-v36-latin-700.woff2')
    format('woff2');
}

:root {
  --whiteColor: #fff;
  --mainColor: #ac0505;
  --mainBackgroundColor: #f6ebe7;
  --titleBackgroundColor: #bd4242;
  --neilYoungBackgroundColor: #e2bec4;
  --linkHoverColor: #1b73b9;
  --mainFont: 'Playfair Display', serif;
  --mainFontSize: clamp(1rem, 4dvw, 1.4rem);
  --mainLineHeight: clamp(1.6rem, 4dvw, 2rem);
  --titleFontSize: clamp(1.8rem, 4dvw, 3rem);
  --headlineFontSize: clamp(1.2rem, 4dvw, 1.4rem);
  --textShadow: 1px 1px 1px rgb(0, 0, 0, 0.3);
  --boxShadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--mainFontSize);
  font-family: var(--mainFont);
  line-height: var(--mainLineHeight);
  text-align: center;
  color: var(--mainColor);
}

.title {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  padding: clamp(0.8rem, 4dvw, 1.25rem);
  font-size: var(--titleFontSize);
  color: var(--whiteColor);
  background-color: var(--titleBackgroundColor);
  text-shadow: var(--textShadow);
}

.description {
  margin: 0;
  padding: 0rem 2dvw 1.2rem;
  background: var(--titleBackgroundColor);
  color: var(--whiteColor);
  text-shadow: var(--textShadow);
}

.main {
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 4dvw;
  background-color: var(--mainBackgroundColor);
}

.figure {
  margin: 0;
  background-color: var(--mainBackgroundColor);
  padding: 0.3rem;
}

.main-image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.img-caption {
  margin: 0.8rem 0;
}

.headline {
  margin: clamp(1rem, 4dvw, 2.5rem) 2dvw;
  padding: 0.8rem;
  font-size: var(--headlineFontSize);
  color: var(--whiteColor);
  background: var(--titleBackgroundColor);
  border-radius: 2rem;
  text-shadow: var(--textShadow);
  box-shadow: var(--boxShadow);
}

.timeline-box {
  max-width: 34rem;
  width: 100%;
  margin: 0 auto;
}

.timeline {
  margin: 0;
  padding-inline-start: 2rem;
}

.timeline-points {
  margin: 2rem 0;
}

.blockquote {
  font-style: italic;
}

.neil-young {
  max-width: 17.5rem;
  width: calc(100% - 6dvw);
  margin: 1.5rem 0;
  background-color: var(--neilYoungBackgroundColor);
  border-radius: 1.5rem;
  box-shadow: var(--boxShadow);
}

.tribute-link {
  color: inherit;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--linkHoverColor);
    text-decoration: none;
  }
}
